@font-face {
  font-family: 'Manrope-Regular';
  src: url('./assets/fonts/manrope/Manrope-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Manrope-Medium';
  src: url('./assets/fonts/manrope/Manrope-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Manrope-SemiBold';
  src: url('./assets/fonts/manrope/Manrope-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Manrope-Bold';
  src: url('./assets/fonts/manrope/Manrope-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Manrope-ExtraBold';
  src: url('./assets/fonts/manrope/Manrope-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('./assets/fonts/inter/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('./assets/fonts/inter/Inter-Medium.woff') format('woff');
}
